h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp48fac406{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:visited{ color:#0080FF; text-decoration: none} 
		a.wsp48fac406:active{ color:#8018CB; text-decoration: underline} 
		a.wsp48fac406:hover{ color:#0000A0; text-decoration: underline} 
		a.wsp63851a2{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:visited{ color:#FFFFFF; text-decoration: none} 
		a.wsp63851a2:active{ color:#FFFFFF; text-decoration: underline} 
		a.wsp63851a2:hover{ color:#C0C0C0; text-decoration: underline} 
#menu_2fd3e3c3 a { text-decoration: none; }
#menu_2fd3e3c3_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_2fd3e3c3_hr { background-color: #646464; height: 1px; border: none; }
#menu_2fd3e3c3_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_2fd3e3c3_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_2fd3e3c3_entry:hover span { color:#FFFFFF !important; }
		.menu_2fd3e3c3_mainMenuEntry { text-align: center; }
		.menu_2fd3e3c3_mainMenuEntry:hover {	background-color:#282828; }
		.menu_2fd3e3c3_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_2fd3e3c3 .mobileEntry { display: none; } 
		#menu_2fd3e3c3 .normalEntry { display: block; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_1f38b4ae { vertical-align: top; border-radius: 15px 15px 0px 0px; position:relative; display: inline-block; width:100%; max-width:900px; background-color:#000000;  }
#container_1f38b4ae_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_3ef23186 { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:30px; background:none;  }
#img_597592f2 { vertical-align: bottom; position:relative; display: inline-block; width:26px; height:26px; background:none;  }
.textstyle3 { font-size:18pt; font-family:Georgia, serif; color:#FFFFFF; font-weight:bold;  }
.textstyle4 { font-size:18pt; font-family:Georgia, serif; color:#CDCDCD; font-weight:bold;  }
#container_5f4f2390 { vertical-align: top; position:relative; display: inline-block; width:60%; background:none;  }
.textstyle5 { text-align:right; }
#menu_2fd3e3c3 { vertical-align: bottom; position:relative; display: inline-block; height:30px; min-width:260px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(229, 229, 229, 0));  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:30px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle6 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:82px; height:30px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:90px; height:30px; left:92px;  }
.style6 { position:absolute; width:75px; height:30px; left:182px;  }
#container_78bff89b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:900px; background-color:#808080; background: linear-gradient(to bottom, #E8E8E8, #808080);  }
#container_78bff89b_padding { margin: 0px 10px 10px 10px;display: block;  }
#img_634a35c5 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle8 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#303030; font-weight:bold; line-height: 1.5;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.textstyle11 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#303030; line-height: 1.5;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#303030; line-height: 1.5;  }
#button_15f29634 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#4AA65A;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_798910f0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:900px; background-color:#F0F0F0;  }
#container_798910f0_padding { margin: 10px; display: block;  }
#heading_30174d59 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
#anchor_3148d828 { vertical-align: top; position:relative; display: inline-block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_3f6c2d6e { vertical-align: bottom; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:100%; background:none; height:auto;  }
#heading_41df46e { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
#container_15f9c727 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_15f9c727_padding { margin: 0px 10px 0px 0px;display: block;  }
#container_1b166e26 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#DCDCDC;  }
#container_1b166e26_padding { margin: 10px; display: block;  }
#container_4a065c39 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background:none; border: 1px solid #DCDCDC;  }
#container_4a065c39_padding { margin: 10px; display: block;  }
#img_7b547ce0 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_2145fd1 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2145fd1_padding { margin: 0px 10px 0px 0px;display: block;  }
#container_e90d421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#DCDCDC;  }
#container_e90d421_padding { margin: 10px; display: block;  }
#container_52d50cb9 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background:none; border: 1px solid #DCDCDC;  }
#container_52d50cb9_padding { margin: 10px; display: block;  }
#img_53d841d1 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_56e27b3b { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_56e27b3b_padding { margin: 0px 10px 0px 0px;display: block;  }
#container_1854cff9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; background-color:#DCDCDC;  }
#container_1854cff9_padding { margin: 10px; display: block;  }
#container_4fccc933 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background:none; border: 1px solid #DCDCDC;  }
#container_4fccc933_padding { margin: 10px; display: block;  }
#img_6322fe62 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_54d940e3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:900px; background-color:#CCFFE4;  }
#container_54d940e3_padding { margin: 20px 10px 20px 10px;display: block;  }
#heading_60e09244 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
#anchor_145e5370 { vertical-align: top; position:relative; display: inline-block;  }
#button_1570e93 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#4AA65A;  }
#container_35a78225 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:900px; background-color:#D1E8FE;  }
#container_35a78225_padding { margin: 20px 10px 20px 10px;display: block;  }
#heading_63bafdd { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
#anchor_47758b79 { vertical-align: top; position:relative; display: inline-block;  }
#button_1d02c053 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#0080FF;  }
#container_365f079f { vertical-align: top; border-radius: 0px 0px 15px 15px; position:relative; display: inline-block; width:100%; min-height:26px; max-width:900px; background-color:#C0C0C0;  }
#container_365f079f_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#1D1D1D;  }
